{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ page_title }}</h5>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete "{{ training.title }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'trainings_app:training_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}